---
import { HeroSlider1 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import Footer from "../components/organisms/Footer.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
---

<Layout
  title="Cybernetic | Homepage"
  description="Compra los mejores vinos, licores y destilados en México."
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:load
      data={{
        image: "public/assets/branding/Tarjeta-Presentacion.jpg",
        content: {
          title: "Contacto",
          paragraph:
            "Get stuck or need help? Contact us and we will help you out!",
        },
      }}
    />
    <ContactModule client:load />
  </main>

  <WAButton url="https://wa.link/i3hd8c" />

  <Footer />
</Layout>
