---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteImg2,
  WhiksyBanner,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import Footer from "../components/organisms/Footer.astro";

import { data } from "../utils/dummyData.js";
import { colors } from "../design-system/colors.js";
import Text from "../components/atoms/Text.astro";
import Button from "../components/atoms/Button.astro";
import FeaturedProducts from "@components/organisms/FeaturedProducts.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
---

<Layout
  title="Cybernetic | Homepage"
  description="YOUR META DESCRIPTION FOR SEO"
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: WhiksyBanner.src,
        content: {
          title: "WHISKY",
          paragraph:
            "Explora nuestra exclusiva selección de whisky de las mejores marcas. Encuentra ofertas irresistibles en whiskies premium y disfruta de su sabor único en cada sorbo. ¡Haz de cada momento una experiencia especial con nuestras promociones!",
        },
      }}
    />

    <ServiceCards
      description="LEGION DRINKERS"
      title="Nuestros Productos Al Alcance De Ti"
      client:visible
      cards={[
        {
          title: "Cyber - development",
          description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum .",
        },
      ]}
    />

    <div class="container">
      <div class="product-spotlight-area">
        <div class="product-spotlight-2">
          <div class="flex flex-col">
            <!-- <Text type="h3">Buchanan's 12 Años Deluxe</Text>
            <a href="/products/buchanans-12-deluxe">
              <Button className="mt-7" type="secondary-inverted">
                VER PRODUCTO
              </Button>
            </a> -->
          </div>
        </div>
      </div>
    </div>

    {
      data
        .filter(({ category }) => category === "whiskys")
        .map(async (item) => {
          return (
            <Hero
              heroType="textImage"
              client:visible
              data={{
                image: {
                  src: `${item.image.desktop}`,
                  width: 590,
                  height: 300,
                  alt: "Hero Image",
                },
                title: `${item.name}`,
                paragraph:
                  "Descubre los mejores whiskys premium en nuestra pagina. Encuentra nuestro whiskey exclusivo, ideal para degustar solo o en cócteles sofisticados. ¡Explora nuestros productos ahora!",
                buttons: [
                  {
                    link: `/products/${item.slug}`, // Enlace dinámico
                    text: "Ver Producto", // Texto del botón
                    variant: "secondary", // Variación del botón, si es necesario
                  },
                ],
              }}
            />
          );
        })
    }

    <div class="premium-categories">
      <span>WHISKYS DESTACADOS</span>
    </div>

    <Hero
      client:load
      heroType="CarouselSlider"
      data={[
        {
          id: "1",
          image: "/assets/whiskys/black-&-white.webp",
          title: "BLACK & WHITE 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "2",
          image: "/assets/whiskys/buchanans-18.webp",
          title: "BUCHANANS 18 AÑOS 750 ml ",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "3",
          image: "/assets/whiskys/jack-daniels-old-no7.webp",
          title: "JACK DANIELS 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "4",
          image: "/assets/whiskys/jack-daniels-honey.webp",
          title: "JACK DANIELS HONEY 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "5",
          image: "/assets/whiskys/jw-double-black.webp",
          title: "JOHNNIE WALKER DOUBLE BLACK 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "6",
          image: "/assets/whiskys/passport-scotch.webp",
          title: "PASSPORT SCOTCH 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "7",
          image: "/assets/whiskys/william-lawson-whisky.webp",
          title: "WILLIAM LAWSONS STD 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "8",
          image: "/assets/whiskys/chivas-regal.jpg",
          title: "CHIVAS REGAL 700 ml ",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
      ]}
    />

    <!-- <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: InfiniteImg1.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Lets make you Infinite!",
        paragraph:
          "Become a part of the Infinite community and start sharing your thoughts, ideas, and experiences with like-minded people.",
      }}
    /> -->

    <FeaturedProducts />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: "public/assets/branding/Codigo-Honor.jpg",
          width: 700,
          height: 500,
          alt: "Catalogo Legion Drinkers",
        },
        title: "¿Quieres Alguno En Especifico?",
        paragraph:
          "Descubre nuestro catálogo completo con productos seleccionados para cada ocasión. Desde lo clásico hasta lo único, ¡encuentra lo que estás buscando y más! ¡Haz clic en el botón y lleva tus elecciones al siguiente nivel!",
        buttons: [
          {
            link: "catalogo/catalogo-legion-drinkers.pdf", // Enlace dinámico
            text: "Descargar Catálogo Completo", // Texto del botón
            variant: "secondary", // Variación del botón, si es necesario
          },
        ],
      }}
    />
  </main>

  <WAButton url="https://wa.link/uen192" />

  <Footer />
</Layout>

<style>
  .product-spotlight-area {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .product-spotlight-2 {
    width: 100%;
    height: 300px;
    border-radius: 35px;
    background: url("assets/branding/whiskey-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 34px 124px;
    grid-column: 1 / 3;
    color: white;
  }

  .premium-categories {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    margin-top: 80px;
  }
  .premium-categories span {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold;
    color: #2c3137; /* Color del texto */
    position: relative;
    padding: 0 15px; /* Espaciado entre el texto y las líneas */
    letter-spacing: 5px; /* Espaciado entre cada letra */
  }
  .premium-categories:before,
  .premium-categories:after {
    content: "";
    flex: 1;
    height: 2px; /* Grosor de las líneas */
    background: #2c3137; /* Color de las líneas */
    margin: 0 20px; /* Ajusta el espaciado entre el texto y las líneas */
  }
</style>
