---
import {
  HeroSlider4,
  HeroSlider5,
  HeroSlider6,
  HeroSlider7,
  HeroSlider8,
  HeroSlider9,
  ProductsSlider,
  SliderImage,
  BannerPrimero,
  FondoDrinkers,
  SlidePrincipal,
} from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import FeaturedProducts from "../components/organisms/FeaturedProducts.astro";
import ProductSpotlight from "../components/organisms/ProductSpotlight.astro";
import Outro from "../components/organisms/Outro.astro";
import Footer from "../components/organisms/Footer.astro";
import CategoryProducts from "../components/organisms/CategoryProducts.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
import MetaConfig from "../layouts/MetaConfig.astro";

import AgeModal from "@components/AgeModal";
import { createElement } from "react";
import { renderToString } from "react-dom/server";

const AgeModalString = renderToString(createElement(AgeModal));

const pageTitle = "Bienvenidos a Legion Drinkers";
const pageDescription =
  "Compra los mejores vinos, licores y destilados en México.";
const pagePreview = SlidePrincipal.src;
---

<MetaConfig
  title={pageTitle}
  description={pageDescription}
  preview={pagePreview}
/>

<Layout
  title="Legion Drinkers"
  description="Compra los mejores vinos, licores y destilados en México."
>
  <main id="inicio" class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Legion Drinkers",
          title: "Promos",
          background: SlidePrincipal.src,
          paragraph:
            "Descubre nuestras promociones exclusivas y encuentra tus productos favoritos con increíbles descuentos. Aprovecha esta oportunidad para disfrutar de calidad al mejor precio. ¡Actualizamos nuestras ofertas constantemente para ti!",
          button: {
            text: "¡Promos Aquí!",
            link: "/promociones",
          },
        },
        // {
        //   subtitle: "Legion Drinkers",
        //   title: "Top de ventas",
        //   background: SliderImage.src,
        //   paragraph:
        //     "Descubre los productos más codiciados y populares del momento. Desde los favoritos que nunca pasan de moda hasta las opciones más innovadoras que todos están buscando. ¡No te quedes fuera, conoce los productos que están arrasando entre nuestros clientes!",
        //   button: {
        //     text: "¡Descubrir Ahora!",
        //     link: "/products/tequila-1800-cristalino",
        //   },
        // },
        {
          subtitle: "Legion Drinkers",
          title: "Ofertas",
          background: SlidePrincipal.src,
          paragraph:
            "Aprovecha nuestras ofertas y encuentra tus bebidas favoritas a precios increíbles. Calidad y ahorro en un solo lugar, con promociones que se renuevan para ti. ¡No te lo pierdas! En LEGION DRINKERS sabemos lo que quieres.",
          button: {
            text: "VER OFERTAS!",
            link: "/ofertas",
          },
        },
        {
          subtitle: "Legion Drinkers",
          title: "Categorias",
          background: SlidePrincipal.src,
          paragraph:
            "Explora nuestra amplia selección de bebidas divididas en categorías para que encuentres fácilmente lo que buscas. Desde destilados y licores hasta vinos y cervezas, tenemos algo para cada ocasión y preferencia. ¡Descubre tu favorita!",
          button: {
            text: "VER CATEGORIAS!",
            link: "/categorias",
          },
        },
        {
          subtitle: "Legion Drinkers",
          title: "Ubicaciones",
          background: SlidePrincipal.src,
          paragraph:
            "Encuentra nuestras sucursales y puntos de venta más cercanos. En LEGION DRINKERS, estamos donde nos necesitas, ofreciéndote una gran variedad de bebidas a los mejores precios. ¡Visítanos y disfruta de una experiencia única!",
          button: {
            text: "VER UBICACIONES!",
            link: "/ubicaciones",
          },
        },
        {
          subtitle: "Legion Drinkers",
          title: "Quienes Somos?",
          background: SlidePrincipal.src,
          paragraph:
            "En LEGION DRINKERS nos apasiona ofrecerte bebidas de calidad al mejor precio. Somos más que una tienda, somos una comunidad que comparte el gusto por los buenos momentos. Descubre nuestra historia y valores.",
          button: {
            text: "CONOCENOS!",
            link: "/nosotros",
          },
        },
      ]}
    />

    <WAButton url="https://wa.link/uen192" />
    <!-- Featured products -->
    <!-- <FeaturedProducts /> -->

    <!-- <CategoryProducts /> -->

    <AgeModal client:load />
    <!-- product spotlight section -->
    <!-- <ProductSpotlight /> -->

    <!-- <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: "assets/branding/Precio-mayoreo.jpg",
          width: 700,
          height: 500,
          alt: "Catalogo Legion Drinkers",
        },
        title: "¡Llévate dos piezas y te damos un precio increíble!",
        paragraph:
          "Descubre nuestro catálogo completo con productos seleccionados para cada ocasión. Desde lo clásico hasta lo único, ¡encuentra lo que estás buscando y más! ¡Haz clic en el botón y lleva tus elecciones al siguiente nivel!",
        buttons: [
          {
            link: "catalogo/catalogo-legion-drinkers.pdf", // Enlace dinámico
            text: "Descargar Catálogo Completo", // Texto del botón
            variant: "secondary", // Variación del botón, si es necesario
          },
        ],
      }}
    /> -->

    <!-- Outro section -->
    <!-- <Outro /> -->

    <!-- Footer -->
    <!-- <Footer /> -->
  </main>
</Layout>
