---
import {
  HeroSlider4,
  HeroSlider5,
  HeroSlider6,
  HeroSlider7,
  HeroSlider8,
  HeroSlider9,
} from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import FeaturedProducts from "../components/organisms/FeaturedProducts.astro";
import ProductSpotlight from "../components/organisms/ProductSpotlight.astro";
import Outro from "../components/organisms/Outro.astro";
import Footer from "../components/organisms/Footer.astro";
import CategoryProducts from "../components/organisms/CategoryProducts.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
---

<Layout title="Legion Drinkers" description="YOUR META DESCRIPTION FOR SEO">
  <main class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Legion Drinkers",
          title: "Promociones",
          background: HeroSlider4.src,
          paragraph:
            "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
          button: {
            text: "Get pro version",
            link: "https://codexcode.store/themes/cybernetic-website-template",
          },
        },
        {
          subtitle: "Be Safe, Be Secure, Be Cybernetic",
          title: "infinite",
          background: HeroSlider9.src,
          paragraph: "",
          button: {
            text: "Take a look",
            link: "/infinite",
          },
        },
        {
          subtitle: "Legion Drinkers",
          title: "Ofertas",
          background: HeroSlider5.src,
          paragraph:
            "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
          button: {
            text: "Get pro version",
            link: "/ofertas",
          },
        },
      ]}
    />

    <WAButton url="https://wa.link/uen192" />
    <!-- Featured products -->
    <FeaturedProducts />

    <CategoryProducts />

    <!-- product spotlight section -->
    <ProductSpotlight />

    <!-- Outro section -->
    <Outro />

    <!-- Footer -->
    <Footer />
  </main>
</Layout>
