---
import { HeroSlider1 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Nosotros as NosotrosModule } from "@modules/Nosotros";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
---

<Layout
  title="Cybernetic | Homepage"
  description="YOUR META DESCRIPTION FOR SEO"
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:load
      data={{
        image: HeroSlider1.src,
        content: {
          title: "Contacto",
          paragraph:
            "Get stuck or need help? Contact us and we will help you out!",
        },
      }}
    />
    <NosotrosModule client:load />
  </main>

  <WAButton url="" />

  <Footer />
</Layout>
