---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteImg2,
  FondoDrinkers,
  BannerPrincipal,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import Footer from "../components/organisms/Footer.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
import CategoryProducts from "@components/organisms/CategoryProducts.astro";
import FeaturedProducts from "@components/organisms/FeaturedProducts.astro";
---

<Layout
  title="Cybernetic | Homepage"
  description="Compra los mejores vinos, licores y destilados en México."
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: BannerPrincipal.src,
        content: {
          title: "OFERTAS",
          paragraph:
            "Aprovecha nuestras ofertas y encuentra tus bebidas favoritas a precios increíbles. Calidad y ahorro en un solo lugar, con promociones que se renuevan para ti. ¡No te lo pierdas!",
        },
      }}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: "assets/branding/Precio-mayoreo.jpg",
          width: 700,
          height: 500,
          alt: "Catalogo Legion Drinkers",
        },
        title: "¡Llévate dos piezas y te damos un precio increíble!",
        paragraph:
          "Descubre nuestro catálogo completo con productos seleccionados para cada ocasión. Desde lo clásico hasta lo único, ¡encuentra lo que estás buscando y más! ¡Haz clic en el botón y lleva tus elecciones al siguiente nivel!",
        buttons: [
          {
            link: "catalogo/catalogo-legion-drinkers.pdf", // Enlace dinámico
            text: "Descargar Catálogo Completo", // Texto del botón
            variant: "secondary", // Variación del botón, si es necesario
          },
        ],
      }}
    />

    <ServiceCards
      description="LEGION DRINKERS"
      title="Las mejores ofertas solo las tiene la LEGION!!"
      client:visible
    />

    <Hero
      client:load
      heroType="CarouselSlider"
      data={[
        {
          id: "1",
          image: "/assets/ofertas/Febrero/absolut-elyx.webp",
          title: "Absolut Elyx 750 ml",
          description: "Vodka premium, ultra suave, destilado en cobre.",
          priceOld: "$740.00",
          priceNew: "$347.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "2",
          image: "/assets/ofertas/Febrero/almave-blanco-sin-alcohol.webp",
          title: "Almave Blanco 700 ml",
          description: "Tequila sin alcohol, mismo sabor, cero grados.",
          priceOld: "$635.00",
          priceNew: "$299.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "3",
          image: "/assets/ofertas/Febrero/buchanans-pineapple-750ml.webp",
          title: "Buchanan’s Pineapple 750 ml",
          description: "Whisky con piña, dulce y suave.",
          priceOld: "$935.00",
          priceNew: "$649.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "4",
          image: "/assets/ofertas/Febrero/jw-black-ruby-750ml.webp",
          title: "Johnnie Walker Black Ruby 750 ml",
          description: "Edición especial, mezcla rica e intensa.",
          priceOld: "$1,240.00",
          priceNew: "$939.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        // {
        //   id: "5",
        //   image: "/assets/vodkas/smirnoff-normal.webp",
        //   title: "Smirnoff Vodka Clásico",
        //   description:
        //     "Vodka puro, ideal para mezclar con tus bebidas favoritas.",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-5" },
        // },
        // {
        //   id: "6",
        //   image: "assets/vodkas/absolut-vodka-azul.webp",
        //   title: "Absolut Vodka Azul",
        //   description: "Vodka sueco de calidad premium, perfecto para todos.",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-6" },
        // },
        // {
        //   id: "7",
        //   image: "assets/vinos/dolce-amore.webp",
        //   title: "Vino Dolce Amore",
        //   description:
        //     "Vino dulce con un sabor afrutado. Ideal para ocasiones especiales.",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-7" },
        // },
        // {
        //   id: "8",
        //   image: "assets/vinos/sweet-red-reservado.webp",
        //   title: "Vino Sweet Red Reservado",
        //   description:
        //     "Vino tinto dulce y elegante, excelente para cenas románticas.",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-8" },
        // },
      ]}
    />

    <div class="premium-categories">
      <span>OFERTAS LEGENDARIAS</span>
    </div>

    <Hero
      client:load
      heroType="GridProducts"
      data={[
        {
          id: "1",
          image: "/assets/ofertas/Febrero/jim-beam-peach-700ml.webp",
          title: "Jim Beam Peach 700 ml",
          description: "Bourbon infusionado con durazno, suave y afrutado.",
          priceOld: "$335.00",
          priceNew: "$299.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "2",
          image: "/assets/ofertas/Febrero/smirnoff-tamarindo.webp",
          title: "Smirnoff Red X-1 750 ml",
          description: "Vodka con tamarindo, picante y dulce.",
          priceOld: "$299.00",
          priceNew: "$199.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "3",
          image:
            "/assets/ofertas/Febrero/Tequila-Patron-Anejo-Cristalino-750-ml.webp",
          title: "Patrón Añejo Cristalino 700 ml",
          description: "Tequila añejo filtrado, suave y elegante.",
          priceOld: "$749.00",
          priceNew: "$599.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "4",
          image: "/assets/ofertas/Febrero/vb-freixenet-cordon-negro-750ml.webp",
          title: "Freixenet Cordon Negro 750 ml",
          description: "Cava brut, fresco y burbujeante.",
          priceOld: "$520.00",
          priceNew: "$299.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "5",
          image: "/assets/ofertas/Febrero/vb-freixenet-pinot-grigio-750ml.webp",
          title: "Freixenet Pinot Grigio 750 ml",
          description: "Vino blanco ligero y afrutado.",
          priceOld: "$427.00",
          priceNew: "$249.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "6",
          image: "/assets/ofertas/Febrero/vb-freixenet-prosecco-750ml.webp",
          title: "Freixenet Prosecco 750 ml",
          description: "Espumoso italiano, fresco y vibrante.",
          priceOld: "$649.00",
          priceNew: "$299.00",
          button: { text: "¡Cotízalo Ahora!", link: "https://wa.link/8or624" },
        },
        // {
        //   id: "7",
        //   image: "assets/licores/flamingo-curacao.webp",
        //   title: "Flamingo Curaçao",
        //   description: "Licor azul, ideal para cócteles tropicales.",
        //   button: { text: "¡Cotízalo Ahora!", link: "/producto-2" },
        // },
        // {
        //   id: "8",
        //   image: "assets/licores/baileys-original.webp",
        //   title: "Baileys Original",
        //   description: "Crema irlandesa, suave y deliciosa.",
        //   button: { text: "¡Cotízalo Ahora!", link: "/producto-3" },
        // },
        // {
        //   id: "9",
        //   image: "https://via.placeholder.com/150",
        //   title: "Producto 9",
        //   description: "Descripción del Producto 9",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-4" },
        // },
        // {
        //   id: "10",
        //   image: "https://via.placeholder.com/150",
        //   title: "Producto 10",
        //   description: "Descripción del Producto 10",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-5" },
        // },
        // {
        //   id: "11",
        //   image: "https://via.placeholder.com/150",
        //   title: "Producto 11",
        //   description: "Descripción del Producto 11",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        // },
        // {
        //   id: "12",
        //   image: "https://via.placeholder.com/150",
        //   title: "Producto 12",
        //   description: "Descripción del Producto 12",
        //   button: { text: "¡Cotizalo Ahora!", link: "/producto-2" },
        // },
      ]}
    />

    <FeaturedProducts />

    <!-- <CategoryProducts /> -->
  </main>

  <WAButton url="https://wa.link/8or624" />

  <Footer />
</Layout>

<style>
  .premium-categories {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    margin-top: 80px;
  }
  .premium-categories span {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold;
    color: #2c3137; /* Color del texto */
    position: relative;
    padding: 0 15px; /* Espaciado entre el texto y las líneas */
    letter-spacing: 5px; /* Espaciado entre cada letra */
  }
  .premium-categories:before,
  .premium-categories:after {
    content: "";
    flex: 1;
    height: 2px; /* Grosor de las líneas */
    background: #2c3137; /* Color de las líneas */
    margin: 0 20px; /* Ajusta el espaciado entre el texto y las líneas */
  }
</style>
