---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteImg2,
  BannerPrincipal,
  FondoBotellas,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import Footer from "../components/organisms/Footer.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
import CategoryProducts from "@components/organisms/CategoryProducts.astro";
import FeaturedProducts from "@components/organisms/FeaturedProducts.astro";

export const metadata = {
  title: "Promociones de Tequila - Legión Drinkers | Enfría tu motor", // Título de la página
  description:
    "Promociones exclusivas en tequila: Cuervo Tradicional, Gran Centenario, y más. Encuentra combos irresistibles y ahorra con Legión Drinkers.", // Meta descripción
  keywords: [
    "promociones tequila",
    "tequila Cuervo",
    "Gran Centenario ofertas",
    "Legión Drinkers tequila",
    "tequila precios",
    "comprar tequila online",
  ],
  image: "/images/promo4.jpg", // Imagen destacada
  url: "https://www.legiondrinkers.com/promociones-tequila", // URL específica de la página
};
---

<Layout
  title="Legion Drinkers"
  description="Compra los mejores vinos, licores y destilados en México."
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: FondoBotellas.src,
        content: {
          title: "PROMOS",
          paragraph:
            "Descubre nuestras promociones exclusivas y encuentra tus productos favoritos con increíbles descuentos. Aprovecha esta oportunidad para disfrutar de calidad al mejor precio. ¡Actualizamos nuestras ofertas constantemente para ti!",
        },
      }}
    />
    <ServiceCards
      description="LEGION DRINKERS"
      title="Los Mejores Productos y Ofertas Cerca de Ti"
      client:visible
    />

    <Hero
      client:load
      heroType="CarouselSlider"
      data={[
        {
          id: "1",
          image: "/assets/promociones/marzo/individual/promo1.webp",
          title: "⚡ Potencia y sabor en cada trago ⚡",
          description: "¡Brinda con poder! 🏎🔥",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "2",
          image: "/assets/promociones/marzo/individual/promo2.webp",
          title: "🏆 Tequila con tradición, poder sin límites 🏆",
          description: "¡Disfruta de la tradición! 🥃🔥",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "3",
          image: "/assets/promociones/marzo/individual/promo3.webp",
          title: "⭐ Brinda con el oro de los campeones ⭐",
          description: "¡Celebra con los mejores! 🏆🔥",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "4",
          image: "/assets/promociones/marzo/individual/promo4.webp",
          title: "🏅 El clásico que nunca falla 🏅",
          description: "¡Sabor y tradición en cada trago! 🥃🔥",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "5",
          image: "/assets/promociones/marzo/individual/promo5.webp",
          title: "🔥 Sabor intenso, carácter inigualable 🔥",
          description: "¡Disfruta cada trago con actitud! 🥃🚀",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "6",
          image: "/assets/promociones/marzo/individual/promo6.webp",
          title: "🍹Sabor que arrasa, Bacardí a tu alcance🍹",
          description: "¡El auténtico sabor de la fiesta! 🎉🔥",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "7",
          image: "/assets/promociones/marzo/individual/promo7.webp",
          title: "🥃 Elegancia en cada sorbo, Torres 5 🥃",
          description: "¡Un whisky que define tu estilo! 🌟🔥",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "8",
          image: "/assets/promociones/marzo/individual/promo8.webp",
          title: "🍸 Absolut Vodka, la esencia de la fiesta 🍸",
          description: "¡El vodka que marca la diferencia! 🎉🔥",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        // {
        //   id: "5",
        //   image: "assets/whiskys/buchanans-18.webp",
        //   title: "Buchanan's 18 Años",
        //   description:
        //     "Disfruta de Buchanan's 18 años con descuento. Una experiencia premium para ti.",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-5" },
        // },
        // {
        //   id: "6",
        //   image: "assets/whiskys/jack-daniels-old-no7.webp",
        //   title: "Jack Daniel's Old No. 7",
        //   description:
        //     "Prueba y disfruta Jack Daniel's Old No. 7 a precio especial. ¡Un sabor perfecto y unico!",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-6" },
        // },
        // {
        //   id: "7",
        //   image: "assets/rones/bacardi-blanco-1-75l.webp",
        //   title: "Bacardí Blanco 1.75L",
        //   description:
        //     "Obtén Bacardí Blanco 1.75L con descuento y recibe otro. ¡Perfecto para tus reuniones!",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-7" },
        // },
        // {
        //   id: "8",
        //   image: "assets/rones/bacardi-anejo.webp",
        //   title: "Bacardí Añejo",
        //   description:
        //     "Disfruta de Bacardí Añejo con oferta especial. Ideal para los amantes del ron y cocteleria.",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-8" },
        // },
      ]}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: "/assets/promociones/marzo/enfria-tu-motor-promo.webp", // Ruta optimizada para la imagen
          width: 700,
          height: 600,
          alt: "Promoción de Tequilas y Combos - Legión Drinkers", // Descripción clara para SEO
        },
        title: "¡Enfría tu motor con nuestras promociones exclusivas!", // Título optimizado
        paragraph:
          "Descubre las mejores promociones de tequila: <strong>Cuervo Tradicional PLATA, Gran Centenario, y más. </strong>Visítanos para disfrutar de los <strong>mejores precios y combos en bebidas premium.</strong>", // Contenido descriptivo y relevante
        buttons: [
          {
            link: "https://wa.link/8or624", // Enlace dinámico
            text: "¡Cotizar Ahora!", // Llamado a la acción claro
            variant: "secondary", // Variación del botón, si es necesario
          },
        ],
      }}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: "/assets/promociones/marzo/lubrica-mejor-promo.webp", // Asegúrate de reemplazar con la URL correcta
          width: 700,
          height: 600,
          alt: "Promoción de bebidas alcohólicas con precios especiales - Lubrica Mejor",
        },
        title: "Lubrica Mejor con Legión Drinkers",
        paragraph:
          "Descubre las mejores promociones en tus bebidas favoritas. Disfruta de <strong>Johnnie Walker Red Label, Bacardí Blanco y Torres 5</strong> a precios inigualables. ¡Haz que tu momento sea inolvidable!",
        buttons: [
          {
            link: "https://wa.link/8or624", // Enlace dinámico
            text: "¡Consíguelo ahora!", // Texto del botón
            variant: "secondary", // Variación del botón
          },
        ],
      }}
    />

    <!-- <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: "/assets/promociones/marzo/checate-el-aceite-promo.webp", // Reemplaza con la URL correcta
          width: 700,
          height: 600,
          alt: "Promoción de Maestro Dobel Diamante con precio especial - Chécate el Aceite",
        },
        title: "Chécate el Aceite con Legión Drinkers",
        paragraph:
          "Conquista la noche con el sabor único de <strong>Maestro Dobel Diamante.</strong> ¡Disfruta de este <strong>tequila premium</strong> a un precio exclusivo! Porque mereces lo mejor, siempre.",
        buttons: [
          {
            link: "https://wa.link/8or624", // Enlace dinámico
            text: "¡Descúbrelo Ahora!", // Texto del botón
            variant: "secondary", // Variación del botón
          },
        ],
      }}
    /> -->

    <!-- <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: "/assets/promociones/promocion-enero-1.jpg", // Reemplaza con la URL correcta de la imagen
          width: 700,
          height: 600,
          alt: "Promoción de cerveza Modelo con la frase '¿Te falta gasolina?' - Legión Drinkers",
        },
        title: "¿Te falta gasolina?",
        paragraph:
          "Recarga energías con una cerveza Modelo bien fría. Perfecta para cualquier ocasión y ahora con un precio irresistible. ¡Súmate a la Legión Drinkers y disfruta de lo mejor!",
        buttons: [
          {
            link: "/products/", // Enlace dinámico
            text: "¡Encuéntrala aquí!", // Texto del botón
            variant: "secondary", // Variación del botón
          },
        ],
      }}
    /> -->
  </main>

  <WAButton url="https://wa.link/8or624" />

  <FeaturedProducts />
  <!-- <CategoryProducts /> -->

  <Footer />
</Layout>
