---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteImg2,
  BannerPrincipal,
  FondoBotellas,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import Footer from "../components/organisms/Footer.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
import CategoryProducts from "@components/organisms/CategoryProducts.astro";
import FeaturedProducts from "@components/organisms/FeaturedProducts.astro";

export const metadata = {
  title: "Promociones de Tequila - Legión Drinkers | Enfría tu motor", // Título de la página
  description:
    "Promociones exclusivas en tequila: Cuervo Tradicional, Gran Centenario, y más. Encuentra combos irresistibles y ahorra con Legión Drinkers.", // Meta descripción
  keywords: [
    "promociones tequila",
    "tequila Cuervo",
    "Gran Centenario ofertas",
    "Legión Drinkers tequila",
    "tequila precios",
    "comprar tequila online",
  ],
  image: "/images/promo4.jpg", // Imagen destacada
  url: "https://www.legiondrinkers.com/promociones-tequila", // URL específica de la página
};
---

<Layout
  title="Legion Drinkers"
  description="Compra los mejores vinos, licores y destilados en México."
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: FondoBotellas.src,
        content: {
          title: "PROMOS",
          paragraph:
            "Descubre nuestras promociones exclusivas y encuentra tus productos favoritos con increíbles descuentos. Aprovecha esta oportunidad para disfrutar de calidad al mejor precio. ¡Actualizamos nuestras ofertas constantemente para ti!",
        },
      }}
    />
    <ServiceCards
      description="LEGION DRINKERS"
      title="Los Mejores Productos y Ofertas Cerca de Ti"
      client:visible
    />

    <Hero
      client:load
      heroType="CarouselSlider"
      data={[
        {
          id: "1",
          image: "/assets/promociones/Enero2026/promo1.webp",
          title: "⚡ Potencia y sabor en cada trago ⚡",
          description: "¡Brinda con poder!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "2",
          image: "/assets/promociones/Enero2026/promo2.webp",
          title: "🏆Tequila con tradición, poder sin límites🏆",
          description: "¡Disfruta de la tradición!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "3",
          image: "/assets/promociones/Enero2026/promo3.webp",
          title: "⭐ Brinda con el oro de los campeones ⭐",
          description: "¡Celebra con los mejores!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "4",
          image: "/assets/promociones/Enero2026/promo4.webp",
          title: "🏅 El clásico que nunca falla 🏅",
          description: "¡Sabor y tradición en cada trago!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "5",
          image: "/assets/promociones/Enero2026/promo1.webp",
          title: "🔥 Sabor intenso, carácter inigualable 🔥",
          description: "¡Disfruta cada trago con actitud!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "6",
          image: "/assets/promociones/Enero2026/promo2.webp",
          title: "🍹Sabor que arrasa, sabor a tu alcance🍹",
          description: "¡El auténtico sabor de la fiesta!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "7",
          image: "/assets/promociones/Enero2026/promo3.webp",
          title: "🥃 Elegancia en cada sorbo 🥃",
          description: "¡La bebida que define tu estilo!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        {
          id: "8",
          image: "/assets/promociones/Enero2026/promo4.webp",
          title: "🍸 La esencia de la fiesta 🍸",
          description: "¡Los blancos que marcan la diferencia!",
          button: { text: "¡Cotizar Ahora!", link: "https://wa.link/8or624" },
        },
        // {
        //   id: "5",
        //   image: "assets/whiskys/buchanans-18.webp",
        //   title: "Buchanan's 18 Años",
        //   description:
        //     "Disfruta de Buchanan's 18 años con descuento. Una experiencia premium para ti.",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-5" },
        // },
        // {
        //   id: "6",
        //   image: "assets/whiskys/jack-daniels-old-no7.webp",
        //   title: "Jack Daniel's Old No. 7",
        //   description:
        //     "Prueba y disfruta Jack Daniel's Old No. 7 a precio especial. ¡Un sabor perfecto y unico!",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-6" },
        // },
        // {
        //   id: "7",
        //   image: "assets/rones/bacardi-blanco-1-75l.webp",
        //   title: "Bacardí Blanco 1.75L",
        //   description:
        //     "Obtén Bacardí Blanco 1.75L con descuento y recibe otro. ¡Perfecto para tus reuniones!",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-7" },
        // },
        // {
        //   id: "8",
        //   image: "assets/rones/bacardi-anejo.webp",
        //   title: "Bacardí Añejo",
        //   description:
        //     "Disfruta de Bacardí Añejo con oferta especial. Ideal para los amantes del ron y cocteleria.",
        //   button: { text: "¡Cotizar Ahora!", link: "/producto-8" },
        // },
      ]}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: "/assets/promociones/Enero2026/promo3.webp", // Asegúrate de subir la imagen con este nombre optimizado
          width: 700,
          height: 700,
          alt: "Promoción de Cuervo Tradicional Plata y Maestro Dobel Diamante - Legión Drinkers", // Descripción clara para SEO
        },
        title: "¡Enero con promociones que te van a encantar!", // Título llamativo
        paragraph:
          "Disfruta este mes de <strong>Cuervo Tradicional Plata a <promoRed>$437</promoRed></strong> y <strong>Centenario Plata por solo <promoRed>$349</promoRed></strong>. Solo en <strong>Legión Drinkers</strong>, donde siempre encuentras calidad al mejor precio.", // Contenido basado en la imagen
        buttons: [
          {
            link: "https://wa.link/8or624", // Enlace dinámico
            text: "¡Pide ya por WhatsApp!", // Llamado a la acción claro
            variant: "secondary", // Variación del botón
          },
        ],
      }}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true, // Cambia el orden de la imagen y el texto
        image: {
          src: "/assets/promociones/Enero2026/promo4.webp", // Asegúrate de subir esta imagen con nombre optimizado
          width: 700,
          height: 700,
          alt: "Promoción de Jose Cuervo Especial y Centenario Plata - Legión Drinkers", // Descripción clara para SEO
        },
        title: "¡Sigue la fiesta con estas promos de tequila!", // Título llamativo
        paragraph:
          "Este septiembre aprovecha: <strong>Maestro Dobel Diamante por solo <promoRed>$689</promoRed></strong> ¡Pide ya en <strong>Legión Drinkers</strong> y refréscate con los mejores tequilas al mejor precio!", // Promoción destacada
        buttons: [
          {
            link: "https://wa.link/8or624", // Enlace de contacto
            text: "¡Haz tu pedido ahora!", // Llamado a la acción
            variant: "secondary", // Estilo del botón
          },
        ],
      }}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: false, // Cambia el orden de la imagen y el texto
        image: {
          src: "/assets/promociones/Enero2026/promo2.webp", // Asegúrate de subir esta imagen con este nombre
          width: 700,
          height: 700,
          alt: "Promoción de Red Label y Bacardí Blanco - Legión Drinkers", // Descripción optimizada
        },
        title: "¡Enero con sabor y estilo!", // Título atractivo
        paragraph:
          "Aprovecha nuestras promos: <strong>Gran Centenario Azul por <promoRed>$229</promoRed></strong> y <strong>Jose Cuervo Especial Reposado a sólo <promoRed>$204</promoRed></strong>. Solo en <strong>Legión Drinkers</strong>, tu mejor opción para brindar este mes.", // Texto promocional claro
        buttons: [
          {
            link: "https://wa.link/8or624",
            text: "¡Pide por WhatsApp!",
            variant: "secondary",
          },
        ],
      }}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true, // Cambia el orden de la imagen y el texto
        image: {
          src: "/assets/promociones/Enero2026/promo1.webp", // Cambia por el nombre de la imagen correspondiente
          width: 700,
          height: 700,
          alt: "Promoción Maestro Dobel Diamante y Jose Cuervo Tradicional Plata - Legión Drinkers",
        },
        title: "¡Dale nivel a tu brindis este Enero!",
        paragraph:
          "Llévate <strong>JW Red Label por <promoRed>$369</promoRed></strong>, <strong>Torres 5 por <promoRed>$237</promoRed></strong> y <strong>Bacardí Blanco por <promoRed>$274</promoRed></strong>. Disfruta calidad premium solo en <strong>Legión Drinkers</strong>.",
        buttons: [
          {
            link: "https://wa.link/8or624",
            text: "¡Cotiza por WhatsApp!",
            variant: "secondary",
          },
        ],
      }}
    />
  </main>

  <WAButton url="https://wa.link/8or624" />

  <FeaturedProducts />
  <!-- <CategoryProducts /> -->

  <Footer />
</Layout>
