---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteImg2,
  RonBanner,
  BannerPrincipal,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
// import Footer from "../components/organisms/Footer.astro";
import Footer from "../components/organisms/Footer.astro";

import { data } from "../utils/dummyData.js";
import { colors } from "../design-system/colors.js";
import Text from "../components/atoms/Text.astro";
import Button from "../components/atoms/Button.astro";
import FeaturedProducts from "@components/organisms/FeaturedProducts.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
import CategoryProducts from "@components/organisms/CategoryProducts.astro";
---

<Layout
  title="Cybernetic | Homepage"
  description="Compra los mejores vinos, licores y destilados en México."
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: RonBanner.src,
        content: {
          title: "RON",
          paragraph:
            "Encuentra las mejores ofertas en ron de calidad premium. Desde sabores clásicos hasta ediciones especiales, descubre el ron perfecto para disfrutar en cualquier momento. ¡Aprovecha nuestras promociones exclusivas y haz de cada ocasión algo inolvidable!",
        },
      }}
    />

    <ServiceCards
      description="LEGION DRINKERS"
      title="Nuestros Productos Al Alcance De Ti"
      client:visible
    />

    <div class="container">
      <div class="product-spotlight-area">
        <div class="product-spotlight-2">
          <div class="flex flex-col">
            <!-- <Text type="h3">Ron Bacardí Añejo 750 ML</Text>
            <a href="/products/ron-bacardi-anejo-750ml"
              ><Button class="mt-7" type="secondary-inverted">
                SEE PRODUCT
              </Button></a
            > -->
          </div>
        </div>
      </div>
    </div>

    {
      data
        .filter(({ category }) => category === "ron")
        .map(async (item) => {
          return (
            <Hero
              heroType="textImage"
              client:visible
              data={{
                image: {
                  src: `${item.image.desktop}`,
                  width: 590,
                  height: 300,
                  alt: "Hero Image",
                },
                title: `${item.name}`,
                paragraph:
                  "Descubre los mejores rones premium en nuestra pagina web. Encuentra opciones ideales para disfrutar solo o en cócteles tropicales. ¡Explora nuestros productos ahora!",
                buttons: [
                  {
                    link: `/products/${item.slug}`, // Enlace dinámico
                    text: "Ver Producto", // Texto del botón
                    variant: "secondary", // Variación del botón, si es necesario
                  },
                ],
              }}
            />
          );
        })
    }

    <div class="premium-categories">
      <span>RONES DESTACADOS</span>
    </div>

    <Hero
      client:load
      heroType="CarouselSlider"
      data={[
        {
          id: "1",
          image: "/assets/rones/bacardi-coco.webp",
          title: "BACARDI COCO 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "2",
          image: "/assets/rones/bacardi-limon-verde.webp",
          title: "BACARDI LIMON VERDE 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "3",
          image: "/assets/rones/bacardi-mango-chile.webp",
          title: "BACARDI MANGO CHILE 750 m",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "4",
          image: "/assets/rones/bacardi-raspberry.webp",
          title: "BACARDI RASPBERRY 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "5",
          image: "/assets/rones/capitan-morgan.webp",
          title: "CAPITAN MORGAN SPICED GOLD 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "6",
          image: "/assets/rones/kraken.webp",
          title: "KRAKEN BLACK 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "7",
          image: "/assets/rones/matusalem-clasico.webp",
          title: "MATUSALEM CLASICO 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "8",
          image: "/assets/rones/malibu.webp",
          title: "MALIBU 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
      ]}
    />

    <!-- <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: InfiniteImg1.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Lets make you Infinite!",
        paragraph:
          "Become a part of the Infinite community and start sharing your thoughts, ideas, and experiences with like-minded people.",
      }}
    /> -->

    <FeaturedProducts />

    <!-- <CategoryProducts /> -->

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: "assets/branding/Precio-mayoreo.jpg",
          width: 700,
          height: 500,
          alt: "Catalogo Legion Drinkers",
        },
        title: "¡Llévate dos piezas y te damos un precio increíble!",
        paragraph:
          "Descubre nuestro catálogo completo con productos seleccionados para cada ocasión. Desde lo clásico hasta lo único, ¡encuentra lo que estás buscando y más! ¡Haz clic en el botón y lleva tus elecciones al siguiente nivel!",
        buttons: [
          {
            link: "catalogo/catalogo-legion-drinkers.pdf", // Enlace dinámico
            text: "Descargar Catálogo Completo", // Texto del botón
            variant: "secondary", // Variación del botón, si es necesario
          },
        ],
      }}
    />
  </main>

  <WAButton url="https://wa.link/8or624" />

  <Footer />
</Layout>

<style>
  .product-spotlight-area {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .product-spotlight-2 {
    width: 100%;
    height: 300px;
    border-radius: 35px;
    background: url("assets/branding/ron-banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 34px 124px;
    grid-column: 1 / 3;
    color: white;
  }

  @media (max-width: 1200px) {
    .product-spotlight-2 {
      background-size: contain; /* Asegura que la imagen se vea completa en pantallas más pequeñas */
      height: 250px; /* Ajusta la altura */
    }
  }

  @media (max-width: 992px) {
    .product-spotlight-2 {
      height: 200px; /* Ajusta la altura en pantallas medianas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  @media (max-width: 768px) {
    .product-spotlight-2 {
      height: 150px; /* Ajusta la altura en pantallas pequeñas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  @media (max-width: 480px) {
    .product-spotlight-2 {
      height: 80px; /* Ajusta la altura para pantallas extra pequeñas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  .premium-categories {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    margin-top: 80px;
  }
  .premium-categories span {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold;
    color: #2c3137; /* Color del texto */
    position: relative;
    padding: 0 15px; /* Espaciado entre el texto y las líneas */
    letter-spacing: 5px; /* Espaciado entre cada letra */
  }
  .premium-categories:before,
  .premium-categories:after {
    content: "";
    flex: 1;
    height: 2px; /* Grosor de las líneas */
    background: #2c3137; /* Color de las líneas */
    margin: 0 20px; /* Ajusta el espaciado entre el texto y las líneas */
  }
</style>
