---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteImg2,
  HeroSlider6,
  BannerPrincipal,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import Footer from "../components/organisms/Footer.astro";

import { data } from "../utils/dummyData.js";
import { colors } from "../design-system/colors.js";
import Text from "../components/atoms/Text.astro";
import Button from "../components/atoms/Button.astro";
import FeaturedProducts from "@components/organisms/FeaturedProducts.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
import CategoryProducts from "@components/organisms/CategoryProducts.astro";
---

<Layout
  title="Cybernetic | Homepage"
  description="YOUR META DESCRIPTION FOR SEO"
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: BannerPrincipal.src,
        content: {
          title: "TEQUILA",
          paragraph:
            "Descubre nuestra selección de tequilas premium, perfectos para cualquier ocasión. Desde los sabores más suaves hasta los más intensos, encuentra el tequila ideal al mejor precio. ¡Explora nuestras ofertas y eleva tus momentos especiales!",
        },
      }}
    />

    <ServiceCards
      description="LEGION DRINKERS"
      title="Nuestros Productos Al Alcance De Ti"
      client:visible
      cards={[
        {
          title: "Cyber - development",
          description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum .",
        },
      ]}
    />

    <div class="container">
      <div class="product-spotlight-area">
        <div class="product-spotlight-2">
          <div class="flex flex-col">
            <!-- <Text type="h3">TEQUILA MAESTRO DOBEL D.</Text> -->
            <!-- <a href="/products/maestro-dobel-diamante">
              <Button className="mt-7" type="secondary-inverted">
                VER PRODUCTO
              </Button>
            </a> -->
          </div>
        </div>
      </div>
    </div>

    {
      data
        .filter(({ category }) => category === "tequilas")
        .map(async (item) => {
          return (
            <Hero
              heroType="textImage"
              client:visible
              data={{
                image: {
                  src: `${item.image.desktop}`,
                  width: 590,
                  height: 300,
                  alt: "Hero Image",
                },
                title: `${item.name}`,
                paragraph:
                  "Compra y descrube tequilas premium en nuestra pagina web. Descubre nuestro producto único, ideal para cada ocasión. <strong>¡Explora nuestros productos ahora!</strong>",
                buttons: [
                  {
                    link: `/products/${item.slug}`, // Enlace dinámico
                    text: "Ver Producto", // Texto del botón
                    variant: "secondary", // Variación del botón, si es necesario
                  },
                ],
              }}
            />
          );
        })
    }

    <div class="premium-categories">
      <span>TEQUILAS DESTACADOS</span>
    </div>

    <!-- SECCION DE OTROS TEQUILAS - CAROUSEL -->
    <Hero
      client:load
      heroType="CarouselSlider"
      data={[
        {
          id: "1",
          image: "/assets/tequilas/1800-blanco.webp",
          title: "1800 blanco 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "2",
          image: "/assets/tequilas/1800-reposado.webp",
          title: "1800 resposado 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "3",
          image: "/assets/tequilas/cuervo-especial-fresa-picosa.webp",
          title: "Cuervo Especial Fresa Picosa 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "4",
          image: "/assets/tequilas/cuervo-reserva-familia-platino.webp",
          title: "Cuervo Reserva de la Familia 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "5",
          image: "/assets/tequilas/cuervo-tradicional-reposado.webp",
          title: "Cuervo Tradicional Reposado 950 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "6",
          image: "/assets/tequilas/cuervo-tradicional-plata.webp",
          title: "cuervo Tradicional Plata 950 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "7",
          image: "/assets/tequilas/don-ramon-plata-diamante.webp",
          title: "Don Ramon Plata Punta Diamante 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "8",
          image: "/assets/tequilas/don-ramon-plata-platinum.webp",
          title: "Don Ramon Plata Platinum 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "9",
          image: "/assets/tequilas/Tequila_Azul_Centenario.webp",
          title: "Gran Centenario Azul 950 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "10",
          image: "/assets/tequilas/gran-centenario-reposado.webp",
          title: "Gran Centenario Reposado 950 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "11",
          image: "/assets/tequilas/Centenario_Baby_mango.webp",
          title: "Gran Centenario Azul Baby Mango 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "12",
          image:
            "/assets/tequilas/gran-centenario-ultra-reposado-cristalino.webp",
          title: "Gran Centenario Ultra Reposado Cristalino 695 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "13",
          image: "/assets/tequilas/Tequila-Gran-Malo-Horchata-750-ml.webp",
          title: "Gran Malo Horchata 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "14",
          image: "/assets/tequilas/gran-malo-tamarindo.webp",
          title: "Gran Malo Tamarindo 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "15",
          image: "/assets/tequilas/herradura-reposado.webp",
          title: "Herradura Cristal Reposado 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "17",
          image: "/assets/tequilas/herradura.webp",
          title: "HERRADURA PLATA 700 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "18",
          image: "/assets/tequilas/reserva-don-armando-plata.webp",
          title: "RESERVA DON ARMANDO PLATA 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "19",
          image: "/assets/tequilas/hornitos-sauza-reposado.webp",
          title: "SAUZA HORNITOS REPOSADO 1 L",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "20",
          image: "/assets/tequilas/sauza-tres-generaciones-reposado.webp",
          title: "SAUZA TRES GENERACIONES REPOSADO 750 ml ",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
        {
          id: "21",
          image: "/assets/tequilas/sauza-hornitos-reposado-cristalino.webp",
          title: "SAUZA HORNITOS REPOSADO CRISTALINO 750 ml",
          description: "",
          button: { text: "¡Cotizalo Ahora!", link: "/producto-1" },
        },
      ]}
    />

    <!-- <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: InfiniteImg1.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Lets make you Infinite!",
        paragraph:
          "Become a part of the Infinite community and start sharing your thoughts, ideas, and experiences with like-minded people.",
      }}
    /> -->

    <FeaturedProducts />

    <!-- <CategoryProducts /> -->

    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: "assets/branding/Precio-mayoreo.jpg",
          width: 700,
          height: 500,
          alt: "Catalogo Legion Drinkers",
        },
        title: "¡Llévate dos piezas y te damos un precio increíble!",
        paragraph:
          "Descubre nuestro catálogo completo con productos seleccionados para cada ocasión. Desde lo clásico hasta lo único, ¡encuentra lo que estás buscando y más! ¡Haz clic en el botón y lleva tus elecciones al siguiente nivel!",
        buttons: [
          {
            link: "catalogo/catalogo-legion-drinkers.pdf", // Enlace dinámico
            text: "Descargar Catálogo Completo", // Texto del botón
            variant: "secondary", // Variación del botón, si es necesario
          },
        ],
      }}
    />
  </main>

  <WAButton url="https://wa.link/uen192" />

  <Footer />
</Layout>

<style>
  .product-spotlight-area {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .product-spotlight-2 {
    width: 100%;
    height: 300px;
    border-radius: 35px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("assets/branding/tequila-banner.jpg"); */
    background: url("assets/branding/tequila-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 34px 124px;
    grid-column: 1 / 3;
    color: white;
  }

  @media (max-width: 1200px) {
    .product-spotlight-2 {
      background-size: contain; /* Asegura que la imagen se vea completa en pantallas más pequeñas */
      height: 250px; /* Ajusta la altura */
    }
  }

  @media (max-width: 992px) {
    .product-spotlight-2 {
      height: 200px; /* Ajusta la altura en pantallas medianas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  @media (max-width: 768px) {
    .product-spotlight-2 {
      height: 150px; /* Ajusta la altura en pantallas pequeñas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  @media (max-width: 480px) {
    .product-spotlight-2 {
      height: 80px; /* Ajusta la altura para pantallas extra pequeñas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }
  .premium-categories {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    margin-top: 80px;
  }
  .premium-categories span {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold;
    color: #2c3137; /* Color del texto */
    position: relative;
    padding: 0 15px; /* Espaciado entre el texto y las líneas */
    letter-spacing: 5px; /* Espaciado entre cada letra */
  }
  .premium-categories:before,
  .premium-categories:after {
    content: "";
    flex: 1;
    height: 2px; /* Grosor de las líneas */
    background: #2c3137; /* Color de las líneas */
    margin: 0 20px; /* Ajusta el espaciado entre el texto y las líneas */
  }
</style>
