---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteImg2,
  UbiCrespa,
  UbiStaCruz,
  UbiCentro,
  UbiOtzolo,
  UbiPartidas,
  UbiSanAntonio,
  BannerPrincipal,
  FondoBotellas,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import Footer from "../components/organisms/Footer.astro";
import WAButton from "@components/banners/ButtonWhatsapp.astro";
---

<Layout
  title="Legion Drinkers"
  description="Compra los mejores vinos, licores y destilados en M茅xico."
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: FondoBotellas.src,
        content: {
          title: "UBICACIONES",
          paragraph:
            "En Legi贸n Drinkers somos una empresa apasionada por ofrecer la mejor selecci贸n de vinos y licores en la zona metropolitana del Valle de Toluca, Estado de M茅xico. Nos enfocamos en brindar productos de alta calidad que enriquecen las experiencias de nuestros clientes.",
        },
      }}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: UbiCrespa.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
          link: "https://maps.app.goo.gl/B7WwaCbB2TeJv8VAA?g_set=ic",
        },
        title: "Toluca",
        paragraph:
          "<strong> Legi贸n Drinkers Suc. La Crespa</strong><br>50200, P.潞 Vicente Lombardo Toledano 805, Delegaci贸n San Mateo Otzacatipan, 50200 Toluca de Lerdo, M茅x.",
        buttons: [
          {
            text: "Abrir en Google Maps",
            link: "https://maps.app.goo.gl/B7WwaCbB2TeJv8VAA?g_set=ic",
            variant: "secondary",
          },
        ],
      }}
    />
    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: UbiStaCruz.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Toluca",
        paragraph:
          "<strong> Legi贸n Drinkers Suc. Santa Cruz</strong><br>R铆o Papaloapan 10, Delegaci贸n Santa Cruz Atzcapotzaltongo, 50290 Santa Cruz Atzcapotzaltongo, M茅x.",
        buttons: [
          {
            text: "Abrir en Google Maps",
            link: "https://maps.app.goo.gl/T6iogmLcw5GsBCLCA?g_st=ic",
            variant: "secondary",
          },
        ],
      }}
    />
    <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: UbiPartidas.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Lerma",
        paragraph:
          "<strong> Legi贸n Drinkers Suc. Las Partidas</strong><br>Av. de las Partidas Manzana 028, Francisco I Madero, 52106 Lerma de Villada, M茅x.",
        buttons: [
          {
            text: "Abrir en Google Maps",
            link: "https://maps.app.goo.gl/xNdH8512geXWoKUHA?g_st=ic",
            variant: "secondary",
          },
        ],
      }}
    />
    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: UbiSanAntonio.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Xonacatlan",
        paragraph:
          "<strong> Legi贸n Drinkers Suc Xonacatlan San Antonio (Crucero)</strong><br>Vicente Guerrero 115, Xonacatlan de Vicencio, 52060 Xonacatl谩n, M茅x.",
        buttons: [
          {
            text: "Abrir en Google Maps",
            link: "https://maps.app.goo.gl/zBctSe7tWoaJuJ2C8?g_st=ic",
            variant: "secondary",
          },
        ],
      }}
    />
    <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: UbiCentro.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Xonacatlan",
        paragraph:
          "<strong> Legi贸n Drinkers Suc Xonacatlan Centro</strong><br>Francisco I. Madero 17, Xonacatlan de Vicencio, 52060 Xonacatl谩n, M茅x.",
        buttons: [
          {
            text: "Abrir en Google Maps",
            link: "https://maps.app.goo.gl/VMD9gPMyJq1EH14t6?g_st=ic",
            variant: "secondary",
          },
        ],
      }}
    />
    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: UbiStaCruz.src,
          width: 590,
          height: 300,
          alt: "Hero Image",
        },
        title: "Otzolotepec",
        paragraph:
          "<strong> Legi贸n Drinkers Suc Villa Cuauhtemoc</strong><br>C. Benito Ju谩rez 36, Villa Cuauhtemoc, 52080 Villa Cuauht茅moc, M茅x.",
        buttons: [
          {
            text: "Abrir en Google Maps",
            link: "https://maps.app.goo.gl/GgoFXskKuAhtkv3v9?g",
            variant: "secondary",
          },
        ],
      }}
    />
  </main>

  <WAButton url="https://wa.link/8or624" />

  <Footer />
</Layout>
