---
import { Image } from "astro:assets";
import Text from "../atoms/Text.astro";
const {
  image,
  imageAlt,
  title,
  width = "130.947px",
  height = "190px",
} = Astro.props;
---

<div class="product-card">
  <Image class="item-image" src={image} alt={imageAlt} />
  <Text type="h4">{title}</Text>
  <slot />
</div>

<style define:vars={{ width, height }}>
  .product-card {
    width: 320px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 100px;
    margin-top: 100px;
    transition:
      transform 0.6s ease,
      box-shadow 0.3s ease; /* Animación al pasar el mouse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
  }

  @media (max-width: 1024px) {
    .product-card {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .product-card {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 480px) {
    .product-card {
      width: 100%;
      height: auto;
    }
  }

  .product-card:hover {
    transform: scale(1.05); /* Escalado suave */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Más sombra en hover */
  }

  .item-image {
    width: var(--width);
    height: var(--height);
    position: absolute;
    top: -100px;
    transition: transform 1s ease; /* Transición suave para la imagen */
  }

  .product-card:hover .item-image {
    transform: scale(1.2); /* Zoom en la imagen al hacer hover */
  }
</style>
