---
import Button from "@components/atoms/Button.astro";
import FeaturedProductCard from "@components/molecules/FeaturedProductCard.astro";
import Licor from "../../../public/assets/category-products/licor-category.png";
import Brandy from "../../../public/assets/category-products/brandy-category.png";
import Vino from "../../../public/assets/category-products/vino-category.png";
import mezcal from "../../../public/assets/category-products/mezcal-category.png";

import { Hero } from "@modules/Hero";
---

<div class="premium-categories">
  <span>OTRAS CATEGORIAS FAVORITAS</span>
</div>

<Hero
  client:load
  heroType="CarouselCategory"
  data={[
    {
      id: "1",
      image: Brandy.src,
      title: "",
    },
  ]}
/>
<!-- <div class="container">
  <div class="featured-products-section">
    <a href="/licor">
      <FeaturedProductCard image={Licor} imageAlt="Licor" title="LICOR">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>

    <a href="/brandy">
      <FeaturedProductCard image={Brandy} imageAlt="brandy" title="BRANDY">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>

    <a href="/vino">
      <FeaturedProductCard image={Vino} imageAlt="vino" title="VINO">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>

    <a href="/mezcal">
      <FeaturedProductCard image={mezcal} imageAlt="MEZCAL" title="MEZCAL">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>
  </div>
</div> -->

<style>
  .featured-products-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 columnas en pantallas grandes */
    gap: 24px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
  }

  /* Ajusta el número de columnas según el tamaño de pantalla */
  @media (max-width: 1024px) {
    .featured-products-section {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 768px) {
    .featured-products-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .featured-products-section {
      margin: 0 5px 40px 5px;
      grid-template-columns: 1fr 1fr; /* 1 columna */
    }
  }
  .premium-categories {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .premium-categories span {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold;
    color: #2c3137; /* Color del texto */
    position: relative;
    padding: 0 15px; /* Espaciado entre el texto y las líneas */
    letter-spacing: 5px; /* Espaciado entre cada letra */
  }
  .premium-categories:before,
  .premium-categories:after {
    content: "";
    flex: 1;
    height: 2px; /* Grosor de las líneas */
    background: #2c3137; /* Color de las líneas */
    margin: 0 20px; /* Ajusta el espaciado entre el texto y las líneas */
  }

  html {
    scroll-behavior: smooth;
  }
</style>
