---
import Button from "../../components/atoms/Button.astro";
import headphone from "../../../public/assets/exported/headphone.png";
import earphone from "../../../public/assets/exported/earphone.png";
import speaker from "../../../public/assets/exported/speaker.png";

import Licor from "../../../public/assets/category-products/licor-category.png";
import Brandy from "../../../public/assets/category-products/brandy-category.png";
import Vino from "../../../public/assets/category-products/vino-category.png";
import mezcal from "../../../public/assets/category-products/mezcal-category.png";

import tequila from "../../../public/assets/category-products/tequila-category.png";
import whisky from "../../../public/assets/category-products/whisky-category.png";
import vodka from "../../../public/assets/category-products/vodka-category.png";
import ron from "../../../public/assets/category-products/ron-category.png";

import FeaturedProductCard from "../molecules/FeaturedProductCard.astro";
import { Hero } from "@modules/Hero";
---

<div id="categorias" class="premium-categories">
  <span>CATEGORIAS</span>
</div>

<Hero
  client:load
  heroType="CarouselCategory"
  data={[
    {
      id: "1",
      image: tequila.src,
      title: "TEQUILA",
      link: "/headphones",
    },
    {
      id: "2",
      image: whisky.src,
      title: "WHISKY",
      link: "/earphones",
    },
    {
      id: "3",
      image: vodka.src,
      title: "VODKA",
      link: "/speakers",
    },
    {
      id: "4",
      image: ron.src,
      title: "RON",
      link: "/ron",
    },
    {
      id: "5",
      image: Licor.src,
      title: "LICOR",
      link: "/licor",
    },
    {
      id: "6",
      image: Brandy.src,
      title: "BRANDY",
      link: "/brandy",
    },
    {
      id: "7",
      image: Vino.src,
      title: "VINO",
      link: "/vino",
    },
    {
      id: "8",
      image: mezcal.src,
      title: "MEZCAL",
      link: "/mezcal",
    },
  ]}
/>
<!-- <div class="container">
  <div class="featured-products-section">
    <a href="/headphones">
      <FeaturedProductCard image={tequila} imageAlt="donjulio" title="TEQUILA">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>

    <a href="/earphones">
      <FeaturedProductCard image={whisky} imageAlt="bluelabel" title="WHISKY">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>

    <a href="/speakers">
      <FeaturedProductCard image={vodka} imageAlt="absolut" title="VODKA">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>

    <a href="/ron">
      <FeaturedProductCard image={ron} imageAlt="bacardi" title="RON">
        <Button type="third">Ver Más</Button>
      </FeaturedProductCard>
    </a>
  </div>
</div> -->
---
<style>
  .featured-products-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 columnas en pantallas grandes */
    gap: 24px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }

  /* Ajusta el número de columnas según el tamaño de pantalla */
  @media (max-width: 1024px) {
    .featured-products-section {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 768px) {
    .featured-products-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .featured-products-section {
      margin: 0 5px 40px 5px;
      grid-template-columns: 1fr 1fr; /* 1 columna */
    }
  }
  .premium-categories {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80%; /* Limita el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    margin-top: 80px;
  }
  .premium-categories span {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold;
    color: #2c3137; /* Color del texto */
    position: relative;
    padding: 0 15px; /* Espaciado entre el texto y las líneas */
    letter-spacing: 5px; /* Espaciado entre cada letra */
  }
  .premium-categories:before,
  .premium-categories:after {
    content: "";
    flex: 1;
    height: 2px; /* Grosor de las líneas */
    background: #2c3137; /* Color de las líneas */
    margin: 0 20px; /* Ajusta el espaciado entre el texto y las líneas */
  }

  html {
    scroll-behavior: smooth;
  }
</style>
