---
import { Image } from "astro:assets";
import { Logo } from "@components/Logo";
// import facebook from "../../../public/assets/shared/desktop/icon-facebook.svg";
// import twitter from "../../../public/assets/shared/desktop/icon-twitter.svg";
// import instagram from "../../../public/assets/shared/desktop/icon-instagram.svg";
// import whatsapp from "../../../public/assets/shared/desktop/icon-whatsapp.svg";
// import facebookColor from "../../../public/assets/shared/desktop/icon-facebook.svg";
---

<footer class="footer">
  <nav class="container">
    <div class="logo">
      <Logo />
      <span>LEGION DRINKERSⓇ</span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/promociones">Promos</a></li>
      <li><a href="/ofertas">Ofertas</a></li>
      <li><a href="/categorias">Categorias</a></li>
      <li><a href="/ubicaciones">ubicaciones</a></li>
      <!-- <li><a href="/contacto">Contacto</a></li> -->
      <li><a href="/nosotros">CONTACTO</a></li>
      <li><a href="/FAQS">FAQs</a></li>
    </ul>
    <!-- <ul class="nav-links-center">
      <li>
        <p style="font-weight: bold; color:#fff">Contacto</p>
      </li>
    </ul>
    <ul class="nav-links">
      <li>
        <p>Linea de atencion al cliente</p>
        <p>Telefono: 01 800 123 4567</p>
        <p>Direccion: Toluca de lerdo</p>
        <p>Colonia: San Mateo Oxtotitlan</p>
      </li>
      <li>
        <p>Horario de atencion a clientes</p>
        <p>Lunes a Viernes de 9:00 a 18:00</p>
        <p>Sabados de 9:00 a 14:00</p>
        <p>Domingos de 9:00 a 12:00</p>
      </li>
    </ul> -->
  </nav>

  <div class="content">
    <div class="description">
      <p>Copyright 2025. All Rights Reserved</p>
    </div>
    <div class="social">
      <div class="icons">
        <a href="https://www.facebook.com/share/12EzfqLicBs/?mibextid=wwXIfr">
          <img
            src="/assets/shared/desktop/icon-facebook.svg"
            alt="Facebook icon"
          />
        </a>
        <!--<a href="#"><Image src={twitter} alt="Twitter icon" /></a>-->
        <a href="https://wa.link/8or624">
          <img
            src="/assets/shared/desktop/icon-whatsapp.svg"
            alt="Whatsapp icon"
          />
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  :root {
    --night: #000; /* Background color */
    --dim-white: #aaa; /* Text color */
    --white: #fff;
  }

  .footer {
    background-color: var(--night);
    color: var(--white);
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .logo span {
    font-size: 20px;
    font-weight: bold;
    color: var(--dim-white);
    letter-spacing: 5px;
  }

  .nav-links-center {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-links {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .nav-links a {
    color: #f9dc22;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .nav-links p {
    color: var(--dim-white);
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    .nav-links p {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-links a {
      font-size: 12px;
    }
  }

  .nav-links a:hover {
    color: var(--dim-white);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .description {
    max-width: 600px;
    font-size: 14px;
    color: var(--dim-white);
    text-align: center;
  }

  .description p {
    color: #f9dc22;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-links p {
    color: var(--dim-white);
    text-decoration: none;
    font-weight: normal;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icons {
    display: flex;
    gap: 16px;
  }

  .icons a img {
    width: 36px;
    transition: transform 0.3s ease;
  }

  .icons a:hover img {
    transform: scale(1.1);
  }

  .credit {
    font-size: 12px;
    color: var(--dim-white);
  }

  .credit a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
  }

  .credit a:hover {
    color: var(--dim-white);
  }
</style>
