---
import { Image } from "astro:assets";
import speaker from "../../../public/assets/exported/speaker.png";
import { colors } from "../../design-system/colors";
import Text from "../atoms/Text.astro";
import Button from "../atoms/Button.astro";

import donjulio from "../../../public/assets/tequilas/donjulio.png";
---

<div class="premium-categories">
  <span>NO TE PIERDAS NUESTRAS PROMOCIONES</span>
  <p>(Se actualizan cada mes)</p>
</div>

<div class="container">
  <div class="product-spotlight-area2">
    <a href="/promociones">
      <div class="product-spotlight-6"></div>
    </a>
    <a href="/promociones">
      <div class="product-spotlight-7"></div>
    </a>
    <a href="/promociones">
      <div class="product-spotlight-8"></div>
    </a>
  </div>
  <div class="product-spotlight-area">
    <a class="product-spotlight-2" href="/promociones"></a>

    <div class="product-spotlight-1">
      <div class="product-spotlight-image">
        <a href="/products/don-julio-70-cristalino">
          <Image
            class="product-spotlight-img"
            src={donjulio}
            alt="Tequila Don Julio 70 Cristalino"
          />
        </a>
      </div>

      <!-- Contenido -->
      <div class="product-spotlight-content">
        <div class="product-spotlight-title">
          <h1>Tequila Don Julio 70 - 1942</h1>
        </div>
        <div class="product-spotlight-description">
          <p>
            Descubre el equilibrio perfecto entre la tradición y la innovación
            con el Tequila Don Julio 70 Cristalino. Este tequila premium ofrece
            la suavidad de un añejo con la frescura de un blanco, gracias a su
            triple destilación y filtrado único. Ideal para disfrutar en las
            mejores ocasiones, ya sea solo, en las rocas o en un cóctel
            sofisticado.
          </p>
        </div>
        <a href="/products/don-julio-70-cristalino">
          <Button type="secondary">VER PRODUCTO</Button>
        </a>
      </div>
    </div>

    <div class="product-spotlight-4"></div>

    <div class="product-spotlight-5"></div>
  </div>
</div>

<style>
  .product-spotlight-area {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .product-spotlight-area2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .product-spotlight-1 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background: #2c3137;
    display: block;
    overflow: hidden;
    padding: 64px 24px;
  }
  .product-spotlight-2 {
    width: 100%;
    height: 300px;
    background: url("assets/branding/destilado-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que la imagen cubra el contenedor */
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro del área */
    grid-column: 1 / 3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }

  /* Responsividad */
  @media (max-width: 1200px) {
    .product-spotlight-2 {
      background-size: contain; /* Asegura que la imagen se vea completa en pantallas más pequeñas */
      height: 250px; /* Ajusta la altura */
    }
  }

  @media (max-width: 992px) {
    .product-spotlight-2 {
      height: 200px; /* Ajusta la altura en pantallas medianas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  @media (max-width: 768px) {
    .product-spotlight-2 {
      height: 150px; /* Ajusta la altura en pantallas pequeñas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  @media (max-width: 480px) {
    .product-spotlight-2 {
      height: 80px; /* Ajusta la altura para pantallas extra pequeñas */
      background-size: contain; /* Asegura que la imagen se vea completa */
    }
  }

  .product-spotlight-2:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .product-spotlight-3 {
    width: 100%;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .product-spotlight-3 div {
    width: 100%;
  }

  .product-spotlight-3 div:first-child,
  .product-spotlight-3 div:nth-child(2) {
    height: 300px;
  }
  .product-spotlight-3 div:first-child {
    background: url("/assets/branding/Precio-mayoreoV2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }
  .product-spotlight-3 div:nth-child(2) {
    background: #da8a8a;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
  }
  .product-spotlight-4 {
    width: 100%;
    height: 750px;
    border-radius: 8px;
    background: url("/assets/branding/Precio-mayoreoV2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 34px 124px;
  }
  .product-spotlight-5 {
    width: 100%;
    height: 750px;
    border-radius: 8px;
    background: url("/assets/branding/Botellas-Frias.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 34px 124px;
  }
  .product-spotlight-6 {
    width: 100%;
    height: 750px;
    border-radius: 8px;
    background: url("/assets/promociones/promocion-enero-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 34px 124px;
    grid-column: 1 / 1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }

  .product-spotlight-6:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .product-spotlight-7 {
    width: 100%;
    height: 750px;
    border-radius: 8px;
    background: url("/assets/promociones/promocion-enero-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 34px 124px;
    grid-column: 2 / 2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }

  .product-spotlight-7:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  .product-spotlight-8 {
    width: 100%;
    height: 750px;
    border-radius: 8px;
    background: url("/assets/promociones/promocion-enero-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 34px 124px;
    grid-column: 3 / 3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }

  .product-spotlight-8:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  @media only screen and (min-width: 1024px) {
    .product-spotlight-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
      margin: 64px 0;
    }
    .product-spotlight-area2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;
      margin: 35px 0px -30px 0px;
    }
    .product-spotlight-1 {
      height: 560px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      overflow: hidden;
      grid-column: 1 / 3;
    }
    .product-spotlight-3 {
      height: 750px;
      display: flex;
      flex-direction: row;
      align-items: center;
      grid-column: 1 / 3;
      gap: 32px;
    }
    .product-spotlight-3 div:first-child,
    .product-spotlight-3 div:nth-child(2) {
      height: inherit;
    }
  }

  //aqui empieza el product spotlight
  .product-spotlight-image {
    max-width: 100%;
    text-align: center;
  }

  .product-spotlight-img {
    width: 100%;
    max-width: 470px;
    height: auto;
    transition:
      transform 0.3s,
      box-shadow 0.3s;
  }

  .product-spotlight-img:hover {
    transform: scale(1.05);
  }

  .product-spotlight-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    max-width: 100%;
    padding: 0 15px;
  }

  .product-spotlight-title h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: #fff;
    letter-spacing: 4px;
  }

  .product-spotlight-description p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
  }

  .product-spotlight-description {
    padding-right: 60px;
  }

  @media screen and (max-width: 768px) {
    .product-spotlight-description {
      padding-right: 0;
      text-align: justify;
    }
  }

  /* Responsive Design */
  @media (min-width: 768px) {
    .product-spotlight-container {
      flex-direction: row; /* En pantallas grandes, se alinean horizontalmente */
      justify-content: space-between;
    }

    .product-spotlight-image {
      text-align: left;
    }

    .product-spotlight-content {
      align-items: flex-start;
      text-align: left;
    }

    .product-spotlight-title h1 {
      font-size: 45px; /* Aumenta el tamaño del título en pantallas grandes */
    }

    .product-spotlight-description p {
      font-size: 18px; /* Aumenta el tamaño de la descripción */
    }

    .product-spotlight-img {
      width: 470px;
    }
  }

  .premium-categories {
    text-align: center;
    margin: 80px 0 70px 0;
  }
  .premium-categories span {
    font-size: 30px; /* Tamaño del texto */
    font-weight: bold;
    color: #000; /* Color del texto */
    letter-spacing: 6px; /* Espaciado entre cada letra */
  }
</style>
